@font-face {
    font-family: DSEG7Classic;
    src: url('../fonts/DSEG7Classic-Regular.woff2') format('woff2');
}
.readout {
    font-family: 'DSEG7Classic';
    padding: 3px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2) inset, 0px 1px 1px 0px rgba(0, 0, 0, 0.14) inset, 0px 1px 3px 0px rgba(0,0,0,.12) inset;
    font-size: 1.25em;
    background-color: rgb(200, 255, 210);
    color: red;
    display: inline-block;
    text-align: right;
    width: 4em;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    z-index: 0;
    min-height: 1.1em;
    text-shadow: none;
}
.readout:before {
    content: '8888888';
    position: absolute;
    color: rgba(0,0,0,0.03);
    z-index: -1;
    padding: 3px;
    top: 0;
    bottom: 0;
    right: 0;
}
.card {
    color: hsla(0,0%,20%,1);
    text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
    background-color: hsl(0,0%,90%);
    box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 1px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 3px 2px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 2px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 2px, /* top HL */
    hsla(0,0%, 0%,.15) 0 -2px 3px 1px, /* outer SD */
    hsla(0,0%,100%,.5) 0  2px 3px 1px; /* outer HL */

    background-image:
    /*-webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),*/
    repeating-linear-gradient(90deg, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   3%, hsla(0,0%,100%, .1) 3.75%),
    repeating-linear-gradient(90deg, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   2%, hsla(0,0%,  0%,.03) 2.25%),
    repeating-linear-gradient(90deg, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 0.52%, hsla(0,0%,100%,.15) 1.1%),
    linear-gradient(180deg, hsl(0,0%,78%)  0%, hsl(0,0%,90%) 47%, hsl(0,0%,78%) 53%, hsl(0,0%,70%)100%);
}
div.indicator {
    transform-style: preserve-3d;
    box-sizing: border-box;
}
.indicator:before {
    content: "";

    position: absolute;
    top: -25%;
    left: -25%;
    width: 150%;
    height: 150%;
    z-index: -1;
    transform: translateZ(-1px);

    color: hsla(0,0%,20%,1);

    background-color: hsl(0,0%,90%);
    box-sizing: border-box;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0,0,0,.12);


    transition: color .2s;

    border-radius: 25%;
    background-image:
repeating-linear-gradient(90deg, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   3%, hsla(0,0%,100%, .1) 3.75%),
repeating-linear-gradient(90deg, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   2%, hsla(0,0%,  0%,.03) 2.25%),
repeating-linear-gradient(90deg, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 0.52%, hsla(0,0%,100%,.15) 1.1%),
linear-gradient(180deg, hsl(0,0%,78%)  0%, hsl(0,0%,90%) 67%, hsl(0,0%,78%) 73%, hsl(0,0%,70%)100%);
}
.gauge {
    /*background-color: rgb(200, 255, 210);
    border-radius: 50% 50% 0 0;*/
}
.gauge .output {
    text-shadow: none;
}
.display {
    background-color: hsla(0,0%,90%,1);
    background-image: linear-gradient(-45deg, hsla(0,0%,0%,0), hsla(0,0%,0%,.05) );
    background-size: 5px;
}